<div class='state-table'>
    <h2 class='table-headin'> State Wise Data</h2>
    <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col" sortable="state_name" (sort)="onSort($event)">
            <div>
              <span class='arrow'></span>
              <span class='column-name'>State</span>
            </div>
            
          </th>
          <th scope="col" sortable="total_corona_cases" (sort)="onSort($event)">
            <div>
              <span class='arrow'></span>
              <span class='column-name'>Total confirmed</span>
            </div>
          </th>
          <th scope="col" sortable="deaths_corona_cases" (sort)="onSort($event)">
            <div>
              <span class='arrow'></span>
              <span class='column-name'>Total deaths</span>
            </div>
          </th>
          <th scope="col" sortable="recovered_corona_cases" (sort)="onSort($event)">
            <div>
              <span class='arrow'></span>
              <span class='column-name'>Total recovered</span>
            </div>
          </th>
          <th scope="col" sortable="" (sort)="onSort($event)">
            <div>
              <span class='arrow'></span>
              <span class='column-name'>Total Active</span>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let state of stateCovidData; index as i">
          <td>
            {{ state.state_name }}
          </td>
          <td>{{ state.total_corona_cases | number }}</td>
          <td>{{ state.deaths_corona_cases | number }}</td>
          <td>{{ state.recovered_corona_cases | number }}</td>
          <td>{{ state.total_corona_cases - (state.recovered_corona_cases + state.deaths_corona_cases) | number }}</td>
        </tr>
        </tbody>
      </table>
      
</div>
