<div class="top-stat container-fluid">
<div class='central-logo'>
    <img src='https://media.tghn.org/medialibrary/2020/04/covid19_logo.png'/>
</div>
    

<div class='count-div'>
            <div class='inner-div' style="border-bottom: 8px solid #F75C5C">
                <ul class="list-group list-group-vertical inner-list">
                    <li class="list-group-item inner-list-item actual-num" [countUp]="total_confirmed">0</li>
                    <li class="list-group-item inner-list-item num-title">Total Confimed</li>
                </ul>
            </div>
            <div class='inner-div' style="border-bottom: 8px solid #7A7A7A">
                <ul class="list-group list-group-vertical inner-list">
                    <li class="list-group-item inner-list-item actual-num" [countUp]="total_deaths">0</li>
                    <li class="list-group-item inner-list-item num-title">Total Deaths</li>
                    
                </ul>
            </div>
            <div class='inner-div' style="border-bottom: 8px solid #35C572">
                <ul class="list-group list-group-vertical inner-list">
                    <li class="list-group-item inner-list-item actual-num" [countUp]="total_recovers">0</li>
                    <li class="list-group-item inner-list-item num-title">Total recovered</li>
                </ul>
            </div>
</div>

</div>


