.main-div{
    width:100%;
    height:auto;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-self: start;
    overflow: hidden;
}
video{
    width: 100%;
    /* min-height: 100vh; */
    overflow: hidden;
}
.video-container{
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
}

.content
{
    z-index: 1;
    position: absolute;
    bottom: 0;
    background-color: black;
    opacity: 0.7;
    width: 100%;
    color: white;
    font-family: 'Heebo';
    font-weight: 0.1em;
    padding:10px;

}
@media only screen and (max-width: 450px) {
    .content {
        display: none;
    }
}
button{
    
    font-size: 2em;
    opacity: 1;
    background-color: #F75C5C;
    color: white;
    border: 0px;
    transform: scale(1);
    animation: animate 2s linear infinite;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
}

.animated-btn{
    transform: translate(-50%, -50%);
    float: right;
    margin: 10px;

}
@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 0, 64, 0.7), 0 0 0 0 rgba(255, 0, 64, 0.7);
    }

    40% {
        box-shadow: 0 0 0 50px rgba(255, 0, 64, 0), 0 0 0 0 rgba(255, 0, 64, 0.7);
    }

    80% {
        box-shadow: 0 0 0 50px rgba(255, 0, 64, 0), 0 0 0 30px rgba(255, 0, 64, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 0, 64, 0), 0 0 0 30px rgba(255, 0, 64, 0);
    }
}